/* /Pages/Edit/Hierarchy.razor.rz.scp.css */
.basic-border[b-5s0gci5i9t] {
    border-radius: 3px;
    margin: 3px;
    padding: 5px;
}

.sheme[b-5s0gci5i9t] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.col-own[b-5s0gci5i9t] {
    display: flex;
    flex-direction: column;
}

.level[b-5s0gci5i9t] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gainsboro;
}


.level-name[b-5s0gci5i9t] {
    text-align: center;
    width: 150px;
}

.level-index[b-5s0gci5i9t] {
    color: gray;
    font-size: 0.9em;
}

.level-elements[b-5s0gci5i9t] {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 5px 0;
}

.level-add[b-5s0gci5i9t] {
}

.node-element[b-5s0gci5i9t] {
    display: flex;
    padding: 2px 5px;
    padding-right: 0;
    margin: 8px;
    border: 2px solid silver;
    min-width: 15%;
    border-radius: 2px;
}


.node-main-element[b-5s0gci5i9t] {
    border: 2px solid orange;
}

.node-controlled-element[b-5s0gci5i9t] {
    border: 2px solid red;
}

.node-own[b-5s0gci5i9t] {
    border: 2px solid gray;
}

.add[b-5s0gci5i9t] {
    color: green;
    border: 2px solid lightgreen;
    background: transparent;
    padding: 5px 30px;
    font-size: 1em;
}

    .add:hover[b-5s0gci5i9t] {
        background-color: lightgreen;
        cursor: pointer;
    }

.remove[b-5s0gci5i9t] {
    color: red;
    font-size: 1em;
    margin: 0;
    padding: 5px 8px;
    background-color: transparent;
    border: 0;
    border-left: 1px solid gainsboro;
}

    .remove:hover[b-5s0gci5i9t] {
        background-color: lightpink;
        cursor: pointer;
    }


.input-text[b-5s0gci5i9t] {
    width: 100%;
    font-size: 0.85em;
    border: 0;
    padding: 10px 0;
    text-align: center;
    outline-color: transparent;
}

.confirm[b-5s0gci5i9t] {
    margin: 10px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    min-height: 2em;
    font-size: 0.9em;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    padding: 8px 0;
}
.confirm-info[b-5s0gci5i9t]{
    align-self: center;
    flex: 6;
}

    .confirm .add[b-5s0gci5i9t] {
        margin: 0 1em;
    }

.fails[b-5s0gci5i9t] {
    list-style-type: square;
    margin: 0 4px;
    font-size: 0.9em;
}

.errored[b-5s0gci5i9t] {
    border: 2px solid red;
    border-radius: 3px;
    font-size: 0.8em;
    width: 2em;
    cursor: pointer;
    text-align: center;
    padding: 1px 4px;
    margin: 0 4px;
}

    .errored:hover[b-5s0gci5i9t] {
        background-color: lightpink;
    }

.main-goal-level[b-5s0gci5i9t] {
}

    .main-goal-level .level-index[b-5s0gci5i9t] {
        display: none;
    }

    .main-goal-level .level-name[b-5s0gci5i9t] {
        font-size: 1.4em;
    }

    .main-goal-level br[b-5s0gci5i9t] {
        display: none;
    }

    .main-goal-level .level-add[b-5s0gci5i9t] {
        visibility: hidden;
    }

    .main-goal-level .node-element[b-5s0gci5i9t] {
        min-width: 14em;
        font-size: 1.25em;
    }

    .main-goal-level .remove[b-5s0gci5i9t] {
        display: none;
    }




.new-level[b-5s0gci5i9t] {
    padding: 10px 0;
}

    .new-level .level-name[b-5s0gci5i9t] {
        color: gray;
    }

.information[b-5s0gci5i9t] {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 5px 10px;
    font-size: 0.9em;
}

.property-name[b-5s0gci5i9t] {
    color: gray;
}

.property-value[b-5s0gci5i9t] {
    margin-right: 2em;
    margin-left: 4px;
}

.not-saved[b-5s0gci5i9t], .all-saved[b-5s0gci5i9t], .warning[b-5s0gci5i9t] {
}

.not-saved[b-5s0gci5i9t] {
    color: darkgoldenrod;
}

.warning[b-5s0gci5i9t] {
    color: darkred;
}

.all-saved[b-5s0gci5i9t] {
    color: green;
}

.json-sheme[b-5s0gci5i9t] {
    margin: 20px 0;
}

.node-table-edit[b-5s0gci5i9t] {
    border-collapse: collapse;
    font-size: 0.9em;
}

    .node-table-edit td[b-5s0gci5i9t], .node-table-edit th[b-5s0gci5i9t] {
        padding: 2px 5px;
    }

.node-table-edit-header[b-5s0gci5i9t] {
}

    .node-table-edit-header th[b-5s0gci5i9t] {
        border-bottom: 1px solid gainsboro;
    }

.node-table-edit-node[b-5s0gci5i9t] {
}

    .node-table-edit-node .edit-text[b-5s0gci5i9t] {
        text-align: left;
        font-style: italic;
    }

.edit-cell input[b-5s0gci5i9t] {
    width: 85%;
}

    .edit-cell input[type="number"][b-5s0gci5i9t] {
        text-align: right;
        padding: 5px 10px;
        border: 0;
        border-bottom: 0px solid gainsboro;
    }

.num[b-5s0gci5i9t] {
    text-align: right;
}

.edit-cell input[type="text"][b-5s0gci5i9t] {
    text-align: left;
    padding: 5px 10px;
    border: 0;
    border-bottom: 0px solid gainsboro;
}

.structure[b-5s0gci5i9t]{
    border-collapse: collapse;
    margin: 10px 0;
}
    .structure td[b-5s0gci5i9t],
    .structure th[b-5s0gci5i9t] {
        font-size: 0.9em;
        border-bottom: 1px solid gainsboro;
    }

.structure th[b-5s0gci5i9t] {
    padding: 4px 6px;
}
.structure td[b-5s0gci5i9t]{
}
/* /Pages/Edit/NodeInfo.razor.rz.scp.css */

.actions-section[b-xtdqrxmb9s] {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;
}

.action[b-xtdqrxmb9s] {
    display: flex;
    padding: 3px 5px;
    border: 1px solid silver;
    border-radius: 1px;
    font-size: 0.9em;
    margin: 5px 1px;
    cursor: pointer;
    background-color: white;
}

a.action[b-xtdqrxmb9s] {
    text-decoration: none;
    color: royalblue;
}

    a.action:hover[b-xtdqrxmb9s] {
        color: black;
    }

.action:hover .action-icon[b-xtdqrxmb9s] {
    opacity: 100%;
}

.action-icon[b-xtdqrxmb9s] {
    height: 16px;
    margin: 0 5px;
    opacity: 50%;
}

.clear-relations:hover[b-xtdqrxmb9s] {
    border: 1px solid red;
    color: red;
}




.problem-info[b-xtdqrxmb9s] {
    padding: 8px 0;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 5px;
}


.navigation[b-xtdqrxmb9s] {
    flex: 3;
}

    .navigation h5[b-xtdqrxmb9s] {
        margin: 5px 0;
    }

.navigation-element[b-xtdqrxmb9s] {
    font-size: 1em;
    cursor: pointer;
    color: gray;
}

.navigation-header[b-xtdqrxmb9s] {
    font-size: 0.9em;
}

.navigation-element.active[b-xtdqrxmb9s] {
    color: black;
}

.navigation-element:hover[b-xtdqrxmb9s] {
    color: rgb(64,64,64);
}

.navigation-list[b-xtdqrxmb9s] {
    margin: 4px 0;
    list-style-type: circle;
}


.edit[b-xtdqrxmb9s] {
    flex: 7;
    padding-right: 20px;
    border-left: 1px solid gainsboro;
    padding-left: 15px;
}

.relations-list[b-xtdqrxmb9s] {
    padding-left: 1em;
}

    .relations-list a[b-xtdqrxmb9s] {
        font-size: 0.8em;
        text-decoration: none;
    }


dt[b-xtdqrxmb9s] {
    font-size: 0.9em;
    margin-bottom: 5px;
}

/* /Pages/Edit/Options.razor.rz.scp.css */

.rating-system[b-2roknnsryk] {
}

    .rating-system th[b-2roknnsryk] {
        font-size: 0.95em;
        font-weight: 500;
        border-bottom: 1px solid gainsboro;
        padding: 2px 5px;
    }

    .rating-system input[b-2roknnsryk] {
        width: 90%;
        border: 0;
        outline: 0;
    }

.rating-system[b-2roknnsryk] {
    border-collapse: collapse;
}

    .rating-system td[b-2roknnsryk] {
        padding: 2px 5px;
        border-bottom: 1px solid gainsboro;
    }
/* /Pages/Edit/Relation.razor.rz.scp.css */

.prev-next-stages[b-ldewwqr6ip] {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 12px 0;
}

    .prev-next-stages a[b-ldewwqr6ip] {
        text-decoration: none;
        cursor: pointer;
        display: block;
        color: royalblue;
        font-size: 1.25em;
        border-radius: 5px;
        user-select: none;
    }

        .prev-next-stages a:hover[b-ldewwqr6ip] {
            color: blue;
            background-color: rgb(250,250,250);
        }
.res[b-ldewwqr6ip] {
    text-decoration: none;
    cursor: pointer;
    display: block;
    color: royalblue;
    font-size: 1.15em;
    border-radius: 5px;
}
    .res:hover[b-ldewwqr6ip] {
        color: blue;
        background-color: rgb(250,250,250);
    }
    .res:active[b-ldewwqr6ip]{
        color: blue;
        background-color: rgb(230,230,230);
    }
.prev[b-ldewwqr6ip], .next[b-ldewwqr6ip] {
    flex: 2;
}
.next[b-ldewwqr6ip]{
    flex: 6;
}
.prev[b-ldewwqr6ip], .next[b-ldewwqr6ip], .res[b-ldewwqr6ip]{
    margin-top: 10px;
    padding: 10px 5px;
}



.relations-grid[b-ldewwqr6ip] {
    display: flex;
    min-height: 75vh;
}

.relation-area[b-ldewwqr6ip] {
    flex: 10;
    padding: 10px;
    border-left: 1px solid gainsboro;
}

.relation-current-header[b-ldewwqr6ip] {
    text-align: center;
    font-size: 1.15em;
    margin-bottom: 0;
}




.criterias[b-ldewwqr6ip]{
    flex: 4;
    padding: 10px;
}


.criterias-list[b-ldewwqr6ip] {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.criteria[b-ldewwqr6ip] {
    display: flex;
    margin: 2px;
    padding: 3px;
    border: 1px solid gainsboro;
    font-size: 0.8em;
    border-radius: 3px;
    cursor: pointer;
}

    .criteria.selected-now[b-ldewwqr6ip] {
        font-weight: bold;
    }

    .criteria:hover[b-ldewwqr6ip] {
        background-color: whitesmoke;
    }

.progress[b-ldewwqr6ip] {
    height: 4px;
    background: lightgreen;
    margin-left: 3px;
    transition-property: width;
    transition-duration: 0.4s;
}

.criteria-char[b-ldewwqr6ip] {
    font-size: 1.5em;
    text-align: center;
    margin-right: 5px;
    width: 20px;
}

.local-relations[b-ldewwqr6ip] {
    font-size: 0.8em;
    margin-right: 1em;
}

.criteria-right[b-ldewwqr6ip] {
    flex: 1;
    margin: 0 3px
}

.criteria-info[b-ldewwqr6ip] {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.criteria-name[b-ldewwqr6ip] {
    margin: 2px 0;
}

.progress-text[b-ldewwqr6ip] {
    font-size: 0.8em;
    color: gray;
}

.progress-total-text[b-ldewwqr6ip] {
    text-align: right;
    font-size: 0.9em;
}
/* /Pages/Edit/Results.razor.rz.scp.css */


.level-header[b-s2rudrpras] {
}

.node-name[b-s2rudrpras] {
    flex: 22;
}

.node-rating[b-s2rudrpras] {
    flex: 8;
}

.level-best-nodes[b-s2rudrpras] {
}

.node-best[b-s2rudrpras] {
    font-weight: 600;
}

.node-progress[b-s2rudrpras] {
    flex: 70;
    height: 6px;
    position: relative;
    background-color: rgb(230,230,230);
}

.progress-filler[b-s2rudrpras] {
    height: 100%;
    position: absolute;
    background-color: #67e37d;
}

.res[b-s2rudrpras] {
    display: flex;
    font-size: 0.9em;
}
.sheme[b-s2rudrpras] {
    flex: 3;
}

.res-info[b-s2rudrpras] {
    flex: 7;
    min-height: 75vh;
    padding-right: 20px;
    border-left: 1px solid gainsboro;
    padding-left: 15px;
}


.results[b-s2rudrpras] {
    list-style: none;
    flex-flow: row;
}
.results-list[b-s2rudrpras]{
    padding-bottom: 5px;
    border-bottom: 1px solid gainsboro;
    margin-bottom: 5px;
}

    .results li[b-s2rudrpras] {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

        .results li[b-s2rudrpras]:before {
            content: "—";
            position: relative;
            left: -5px;
        }

    .results span[b-s2rudrpras] {
        margin: 0 5px 5px 0;
    }
/* /Pages/Edit/View.razor.rz.scp.css */

.relations-state[b-o3afu494mx] {
    display: flex;
}

.sheme-nav[b-o3afu494mx] {
    flex: 3;
}

.sheme-info[b-o3afu494mx] {
    flex: 7;
/*    padding: 5px 10px;*/
    min-height: 75vh;

    padding-right: 20px;
    border-left: 1px solid gainsboro;
    padding-left: 15px;
}

.sheme-info-total[b-o3afu494mx] {
}

.sheme-info-fill[b-o3afu494mx] {
}

.sheme-info-cons[b-o3afu494mx] {
}

.info-details[b-o3afu494mx] {
    margin: 0 1em;
}

.sheme-info ul[b-o3afu494mx] {
    list-style-type: circle;
}


.msg-text[b-o3afu494mx] {
    margin-bottom: 10px;
}

.errors[b-o3afu494mx], .warnings[b-o3afu494mx], .no-errors[b-o3afu494mx] {
    font-size: 1.15em;
}

.no-errors[b-o3afu494mx] {
    color: green;
}

.errors[b-o3afu494mx] {
    color: red;
}

.warnings[b-o3afu494mx] {
    color: darkgoldenrod;
}

.sheme-info a[b-o3afu494mx] {
    text-decoration: none;
    color: royalblue;
}

    .sheme-info a:hover[b-o3afu494mx] {
        color: blue;
    }
/* /Pages/Index.razor.rz.scp.css */
.main-grid[b-h274fxvwi1] {
    display: flex;
    margin-top: 3em;
}

    .main-grid a[b-h274fxvwi1] {
        color: black;
    }

.about-area[b-h274fxvwi1] {
    flex: 1;
    text-decoration: none;
    color: black;
    padding: 5px;
    border-right: 0;
}

.problem-area[b-h274fxvwi1] {
    flex: 2;
    text-decoration: none;
    color: black;
    padding: 5px;
}

.info-area[b-h274fxvwi1] {
    flex: 1;
    text-decoration: none;
    color: black;
    padding: 5px;
    border-left: 0;
}

.about-area[b-h274fxvwi1], .problem-area[b-h274fxvwi1], .info-area[b-h274fxvwi1] {
    text-align: center;
    border: 1px solid gainsboro;
    border-radius: 8px;
    padding: 2.2em 0.2em;
}

    .about-area img[b-h274fxvwi1], .problem-area img[b-h274fxvwi1], .info-area img[b-h274fxvwi1] {
        height: 100px;
        margin: auto;
    }

    .about-area p[b-h274fxvwi1], .problem-area p[b-h274fxvwi1], .info-area p[b-h274fxvwi1] {
        color: rgb(70, 70, 70);
    }

    .about-area:hover[b-h274fxvwi1], .problem-area:hover[b-h274fxvwi1], .info-area:hover[b-h274fxvwi1] {
        cursor: pointer;
        background-color: rgb(250,250,250);
    }


.process[b-h274fxvwi1] {
    display: flex;
    align-items: center;
    height: 100px;
    text-align: center;
    vertical-align: middle;
    font-size: 1.5em;
}

.process-img[b-h274fxvwi1] {
    height: 50px;
}
/* /Pages/Info.razor.rz.scp.css */

.info[b-izuf4lv507]{
    max-width: 750px;
    font-size: 0.9em;
}

.info h2[b-izuf4lv507], .info h4[b-izuf4lv507] {
    border-bottom: 1px solid gainsboro;
    padding-bottom: 2px;
}
.info a[b-izuf4lv507]{
    color: royalblue;
    text-decoration: none;
}
.info a:hover[b-izuf4lv507]{
    color: blue;
}
.info p[b-izuf4lv507] {
    line-height: 1.4;
}

.info li[b-izuf4lv507] {
    line-height: 1.4;
}

.info h4[b-izuf4lv507] {
    font-weight: normal;
    font-size: 1.1em;
}


main p[b-izuf4lv507]{
    line-height: 140%;
}

    main img[b-izuf4lv507] {
        padding: 8px;
        max-width: 75%;
    }

img.right[b-izuf4lv507] {
    float: right;
    width: 45%;
}

.filled[b-izuf4lv507], .constistent[b-izuf4lv507] {
    padding-left: 5px;
}

.filled[b-izuf4lv507] {
    border-left: 8px solid #b3c108;
}

.constistent[b-izuf4lv507] {
    border-left: 8px solid red;
}
/* /Pages/Start.razor.rz.scp.css */
.load-task-grid[b-2ul14366lu] {
    display: flex;
    width: 1000px;
}

    .load-task-grid h3[b-2ul14366lu] {
        border-bottom: 1px solid gainsboro;
        padding-bottom: 4px;
    }
    .presets-section[b-2ul14366lu]{
        grid-area: presets;
    }

.load-header[b-2ul14366lu] {
    grid-area: header;
    border-bottom: 1px solid gainsboro;
}


.tab-presets[b-2ul14366lu] {
    flex: 7;
    padding: 5px;
}
.tab-section[b-2ul14366lu]{
    display: flex;
}
.load-own[b-2ul14366lu] {
    flex: 1;
    padding: 0 5px;
}
.saved-session[b-2ul14366lu] {
    flex: 1;
    padding: 0 5px;
}




    .load-own input[type="button"][b-2ul14366lu], .load-sample input[type="button"][b-2ul14366lu] {
        width: 90%;
        margin: 5px;
        cursor: pointer;
        background-color: transparent;
        border: 1px solid gray;
        padding: 8px;
    }

        .load-own input[type="button"]:hover[b-2ul14366lu],
        .load-sample input[type="button"]:hover[b-2ul14366lu] {
            background-color: lightgreen;
        }


.presets[b-2ul14366lu], .problems[b-2ul14366lu] {
    list-style: none;
    padding: 0;
}
.presets[b-2ul14366lu] {
    display: flex;
    flex-wrap: wrap;
}
.presets li[b-2ul14366lu]{
    width: 20em;
    margin: 2px;
}

    .presets a[b-2ul14366lu], .problems a[b-2ul14366lu] {
        text-decoration: none;
        color: black;
    }


.problem-img[b-2ul14366lu] {
    grid-area: img;
    margin-right: 1em;
    vertical-align: middle;
}

.loaded[b-2ul14366lu] {
    flex: 3;
    grid-area: loaded;
    padding: 5px;
    border-right: 1px solid gainsboro;

    display: flex;
    flex-direction: column;
}

.problems[b-2ul14366lu] {
    list-style: none;
    padding: 0;
}

.problem[b-2ul14366lu] {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 2fr 8fr;
    padding: 5px 0;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    grid-template-areas:
        "img name"
        "img status";
}


.load-note[b-2ul14366lu] {
    color: gray;
    font-size: 0.9em;
}

.load-json[b-2ul14366lu] {
    width: 90%;
}
/* /Shared/Components/AccountView.razor.rz.scp.css */
.account[b-gzw38c7sdz]{
    margin: 3px 8px;
    font-size: 1.2em;
}
/* /Shared/Components/ColoredDefinition.razor.rz.scp.css */
.example-section[b-uto883exwh] {
    display: flex;
    align-items: center;
    margin: 3px 5px;
}

.example-block[b-uto883exwh] {
    border: 2px solid;
    border-radius: 2px;
    height: 15px;
    width: 15px;
    margin: 5px;
}

.example-description[b-uto883exwh] {
    margin-left: 5px;
    text-transform: uppercase;
    font-size: 0.8em;
    font-family: Consolas;
}
/* /Shared/Components/HierSheme.razor.rz.scp.css */

.hier-sheme-mini[b-2s3djwekua] {
    margin: 4px;
    width: 50px;
}

.hier-sheme-level[b-2s3djwekua] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hier-sheme-element[b-2s3djwekua] {
    width: 4px;
    height: 4px;
    margin: 2px 1px;
    border: 1px solid black;
    border-radius: 1px;
}
/* /Shared/Components/HierShemeBig.razor.rz.scp.css */

.sheme[b-kpm9ky8fcu] {
    margin: 5px;
}

.level[b-kpm9ky8fcu] {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0px solid gainsboro;
    padding: 5px;
}

.level-name[b-kpm9ky8fcu] {
    text-align: center;
}

.level-index[b-kpm9ky8fcu] {
    font-size: 0.85em;
    color: gray;
}

.level-text[b-kpm9ky8fcu] {
    font-size: 0.9em;
}

.level-elements[b-kpm9ky8fcu] {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.node-element[b-kpm9ky8fcu] {
    display: block;
    padding: 3px;
    margin: 4px;
    border: 1px solid gray;
    text-align: center;
    border-radius: 1px;
    text-decoration: none;
    font-size: 0.65em;
    min-width: 50px;
    color: royalblue;
}
    .node-element:hover[b-kpm9ky8fcu]{
        color: blue;
        border: 1px solid royalblue;
    }

.good[b-kpm9ky8fcu] {
    background-color: #dfffdf;
}

.bad[b-kpm9ky8fcu] {
    background-color: #ffdee3;
}
.sel[b-kpm9ky8fcu] {
    background-color: #d1ecff;
}

.warn[b-kpm9ky8fcu] {
    background-color: antiquewhite;
}

.best[b-kpm9ky8fcu] {
    background-color: #ebe3fc;
}
/* /Shared/Components/HierTemplate.razor.rz.scp.css */

.preset[b-cnvm06s825] {
    padding: 4px;
    border: 1px solid gainsboro;
    border-radius: 4px;

    cursor: pointer;
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.preset:hover[b-cnvm06s825]{
    background-color: whitesmoke;
}
.preset:active[b-cnvm06s825]{
    border: 1px solid green;
    background-color: ghostwhite;
}

.preset-img[b-cnvm06s825] {
    flex: 1;
    width: 30px;
    margin: 4px;
    max-height: 50px; 
}

.preset-info[b-cnvm06s825]{
    flex: 5;
}
.preset-name[b-cnvm06s825] {
    grid-area: name;
    font-size: 0.9em;
    margin: 0;
    font-weight: normal;
}

.problem-name[b-cnvm06s825] {
    grid-area: name;
    font-size: 0.8em;
    margin: 0;
}

.preset-descr[b-cnvm06s825] {
    font-size: 0.8em;
    margin: 4px 0;
    color: gray;
}

.problem-status[b-cnvm06s825] {
    font-size: 0.8em;
    margin: 4px 0;
    color: gray;
}


.preset-load[b-cnvm06s825] {
    flex: 1;
    height: 24px;
    margin-left: 1em;
    border: 1px solid gray;
    background-color: transparent;
}

    .preset-load:hover[b-cnvm06s825] {
        background-color: lightgreen;
        cursor: pointer;
    }
/* /Shared/Components/NodeMatrix.razor.rz.scp.css */

.row-usual[b-7b33g50aiw] {
    margin-top: 10px;
}

.counts[b-7b33g50aiw] {
    flex-basis: 50%;
    font-size: 0.85em;
}

.mtx table[b-7b33g50aiw] {
    border: 1px solid gainsboro;
    border-collapse: collapse;
}

    .mtx table a[b-7b33g50aiw] {
        text-decoration: none;
    }

        .mtx table a:hover[b-7b33g50aiw] {
            text-decoration: underline;
        }

    .mtx table h4[b-7b33g50aiw] {
        margin: 0;
    }

td[b-7b33g50aiw] {
    padding: 10px 6px;
}

.good-mtx[b-7b33g50aiw], .bad-mtx[b-7b33g50aiw] {

}

.good-mtx[b-7b33g50aiw] {
    color: green;
}

.bad-mtx[b-7b33g50aiw] {
    color: darkred;
}

.mtx input[b-7b33g50aiw] {
    border: 0;
    width: 94%;
    text-align: center;
    border: 1px solid transparent;
    max-width: 10em;
    height: 30px;
}

    .mtx input[disabled][b-7b33g50aiw] {
        color: gray;
    }


.cell-header[b-7b33g50aiw] {
    border-bottom: 1px solid gainsboro;
    text-align: center;
}

.cell-node[b-7b33g50aiw] {
    text-align: center;
    font-size: 0.8em;
    min-width: 4.5em;
    padding-left: 5px;
    padding-right: 5px;
}

td.cell-value[b-7b33g50aiw] {
    padding: 0;
    max-width: 10em;
}

.cell-selected input[b-7b33g50aiw] {
    border-color: gainsboro;
}

.cell-mirrored input[b-7b33g50aiw] {
    border: 1px solid green;
}

.incorrect input[b-7b33g50aiw] {
    color: red;
}

.unknown input[b-7b33g50aiw] {
    color: darkorange;
}
/* /Shared/Components/NodeRelations.razor.rz.scp.css */
.rel-menu-list-header[b-jigsvikfkj] {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 4px 0;
    padding-bottom: 3px;
    margin-bottom: 0;
}

    .rel-menu-list-header h3[b-jigsvikfkj] {
        font-size: 1em;
        font-weight: 400;
        margin: 0;
    }
    .rel-menu-list-header .cr[b-jigsvikfkj]{
        font-size: 0.9em;
    }

    .rel-menu-list-header.safe[b-jigsvikfkj] {
        border-bottom: 1px solid gainsboro;
    }

    .rel-menu-list-header.warning[b-jigsvikfkj] {
        border-bottom: 1px solid #cccc10;
    }

    .rel-menu-list-header.error[b-jigsvikfkj] {
        border-bottom: 1px solid red;
    }

.rel-menu-element[b-jigsvikfkj] {
    display: block;
    font-size: 0.8em;
    color: black;
    padding: 4px 0;
    border-bottom: 1px solid gainsboro;
    text-decoration: none;
    cursor: pointer;
    border-left: 3px solid gainsboro;
    border-right: 1px solid gainsboro;
    padding: 5px;
}

    .rel-menu-element.safe[b-jigsvikfkj] {
        border-right: 1px solid lightgreen;
        border-bottom: 1px solid lightgreen;
    }

    .rel-menu-element.warning[b-jigsvikfkj] {
        border-right: 1px solid #cccc10;
        border-bottom: 1px solid #cccc10;
    }

    .rel-menu-element.error[b-jigsvikfkj] {
        border-right: 1px solid red;
        border-bottom: 1px solid red;
    }
    .rel-menu-element:hover[b-jigsvikfkj] {
        background-color: whitesmoke;
        color: blue;
    }

.rel-menu-list[b-jigsvikfkj] {
    list-style: none;
    margin: 5px 0;
    margin-top: 0;
}
    .rel-menu-list a[b-jigsvikfkj] {
        color: black;
        text-decoration: none;
    }

.rel-menu-element.active[b-jigsvikfkj] {
    border-left-color: orange;
    font-weight: bold;
}


.criteria-state[b-jigsvikfkj] {
    font-size: 0.85em;
    color: black;
    margin-left: 2em;
}

.criteria-relations[b-jigsvikfkj] {
}

.rel-menu-list .selected[b-jigsvikfkj] {
    font-weight: bold;
}
/* /Shared/Components/ProjectTask.razor.rz.scp.css */
.task-menu-element[b-oamoz3bd8c] {
    display: flex;
    opacity: 80%;
    cursor: pointer;
    padding: 2px 0;
    border: 1px solid gainsboro;
    text-decoration: none;
    margin: 4px;
}

    .task-menu-element:hover[b-oamoz3bd8c] {
        color: darkblue;
        background-color: whitesmoke;
    }

    .task-menu-element.selected[b-oamoz3bd8c] {
        opacity: 100%;
        background-color: whitesmoke;
    }
    .selected .task-element-name[b-oamoz3bd8c]{
        color: blue;
    }


.task-element-sheme[b-oamoz3bd8c] {
    flex: 2;
    min-height: 50px;
}

.task-element-header[b-oamoz3bd8c] {
    flex: 8;
    text-decoration: none;
}

.task-link[b-oamoz3bd8c] {
    display: flex;
    flex: 1;
    align-items: center;
    text-decoration: none;
}

.task-element-name[b-oamoz3bd8c] {
    font-size: 0.9em;
    margin: 0;
    color: black;
    font-weight: 500;
}

.task-element-descr[b-oamoz3bd8c] {
    color: gray;
    font-size: 0.8em;
    margin: 3px 0;
}


.remove-task[b-oamoz3bd8c] {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    align-self: flex-start;
    margin: 5px 0;
    padding: 5px 7px;
    color: darkred;
}

    .remove-task:hover[b-oamoz3bd8c] {
        background-color: lightpink;
    }
/* /Shared/Components/RelationQuestion.razor.rz.scp.css */
.matrix[b-ayuwv59emp] {
    margin: 5px;
    width: 100%;
    border-collapse: collapse;
}

    .matrix th[b-ayuwv59emp], .matrix td[b-ayuwv59emp] {
        padding: 8px 24px;
        border: 5px solid transparent;
        border-top: 0;
        border-bottom: 0;
    }


td.from[b-ayuwv59emp] {
}

td.to[b-ayuwv59emp] {
}

td.united[b-ayuwv59emp] {
}

td.between[b-ayuwv59emp] {
    border: 0;
}

.matrix .main-node[b-ayuwv59emp] {
    border: 0;
}

.matrix .side-node[b-ayuwv59emp] {
    border: 0;
    border-bottom: 1px solid gainsboro;
}

.main-node h3[b-ayuwv59emp] {
    margin: 5px 0;
}

.side-node[b-ayuwv59emp] {
}

.matrix a[b-ayuwv59emp] {
    text-decoration: none;
    color: darkblue;
}

    .matrix a:hover[b-ayuwv59emp] {
        color: blue;
    }



.matrix .results-message[b-ayuwv59emp] {
    padding: 20px 0;
    border-bottom: 1px solid whitesmoke;
    border-top: 1px solid gainsboro;
    text-align: center;
}
/* /Shared/Components/RelationRating.razor.rz.scp.css */
td[b-vbc4x40uv1]{
    padding: 8px 24px;
}
.rating[b-vbc4x40uv1] {
    display: flex;
    justify-content: space-between;
}
.selectable[b-vbc4x40uv1] {
    color: #323232;
    font-size: 0.9em;
}
    .selectable:hover[b-vbc4x40uv1] {
        cursor: pointer;
        font-weight: 600;
        /*            border-right: 5px solid gainsboro;
            border-left: 5px solid gainsboro;*/
    }


.selected[b-vbc4x40uv1] {
    /*        border-right: 5px solid orange;
        border-left: 5px solid orange;*/
    font-weight: 600;
}

.cr[b-vbc4x40uv1]{

}

.safe[b-vbc4x40uv1] {

}
    .safe .cr[b-vbc4x40uv1] {
        color: #00d885;
    }

.dangerous[b-vbc4x40uv1] {

}
.dangerous .cr[b-vbc4x40uv1]{
    color: red;
}
/* /Shared/Components/Warning.razor.rz.scp.css */

.warning-body[b-v6178rnvgs] {
    display: inline-block;
    padding: 7px;
    margin: 6px;
    border: 1px solid yellow;
    border-radius: 2px;
    background-color: rgb(250,250,250);
}

.warning-header[b-v6178rnvgs] {
    margin: 3px 0;
}

.warning-text[b-v6178rnvgs] {
    margin: 3px 0;
}
/* /Shared/Logo.razor.rz.scp.css */

.logo a[b-b4qs285pb7] {
    text-decoration: none;
    color: black;
}
/* /Shared/MainHeader.razor.rz.scp.css */
.main-header[b-6lgmv7yvfj] {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .main-header ul[b-6lgmv7yvfj] {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }

.main-header li[b-6lgmv7yvfj] {
    margin: 5px 20px;
}
/* /Shared/Menu.razor.rz.scp.css */
.navside ul[b-xq73wkzl3p] {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    border-top: 1px solid gainsboro;
    flex-wrap: wrap;
}
/* /Shared/MenuProjects.razor.rz.scp.css */
.task-row[b-334o3r1k4c] {
    justify-content: space-between;
    border-bottom: 1px solid gainsboro;
}
.task-menu[b-334o3r1k4c] {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid gainsboro;
}

.state-control .add-task[b-334o3r1k4c] {
    font-size: 0.9em;
    border: 1px solid lightgreen;
    color: green;
    background-color: transparent;
    margin-bottom: 8px;
}

    .state-control .add-task:hover[b-334o3r1k4c] {
        background-color: lightgreen;
    }


    .state-control[b-334o3r1k4c]{
        display : flex;
        flex-direction: column;
        padding: 4px 0;
    }
    .state-control button[b-334o3r1k4c]{
        margin: 1px 5px;
        margin-top: 1px;
        margin-bottom: 1px;
    }
    .state-control h3[b-334o3r1k4c]{
        font-size: 1em;
        margin-left: 4px;
        margin-right: 4px;
    }

    .state-control .save:hover[b-334o3r1k4c]{
        color: green;
        border-color: green;
    }
    .state-control .save:active[b-334o3r1k4c]{
        color: green;
        border-color: limegreen;
    }
    .state-control .load:hover[b-334o3r1k4c]{
        color: darkred;
        border-color: darkred;
    }
    .state-control .load:active[b-334o3r1k4c]{
        color: darkred;
        border-color: darkred;
    }

    .link-return[b-334o3r1k4c]{
        text-decoration: none;
        color: darkblue;
    }
    .link-return:hover[b-334o3r1k4c]{
        color: blue;
    }
/* /Shared/Tab.razor.rz.scp.css */
.tabset[b-virwspwrqu] {
}

.tab-items[b-virwspwrqu] {
    list-style: none;
    display: flex;
    align-items: flex-end;
    margin: 0;
    padding-left: 1.1em;
}

.tab-content[b-virwspwrqu] {
    border: 1px solid whitesmoke;
    border-radius: 1px;
    padding: 0.25em;
}
/* /Shared/TabItem.razor.rz.scp.css */
.tab-item[b-16pjc3by3w] {
    padding: 5px 15px;
    border-bottom: 1px solid gainsboro;
}


    .tab-item:hover[b-16pjc3by3w] {
        background-color: gainsboro;
        cursor: pointer;
    }

    .tab-item.selected[b-16pjc3by3w] {
        background-color: gainsboro;
    }
